html {
    
    background-color: #ffffff;
    font-family: 'Helvetica Neue', sans-serif;
    
  }
  .container{
    display: grid;
    height: 100vh;
    grid-template-columns:1fr ;
    grid-template-rows:0.1fr 0.1fr 1fr 0.1fr;
    grid-template-areas: "header" "nav" "main""footer";
    
}
main{background-color: #ffffff;
color: black;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
li{padding-bottom: 10px;
  list-style: none}
a{
  text-decoration: none;
  color: #ffffff;
}
a:hover{
  border : white solid 1px;
  
  font-weight: bold;
}




header{
   text-align: center; 
     align-items: center; 
    background-color: black;}

    nav{
      text-align: center; 
      color: #ffffff;
      background-color: black;
      font-size: 16px;
        } 

    main .ball{padding: 10px 0px;
          
    }
main .mj{
      padding-top: 20px;
    } 

    footer{
      text-align: center; 
        align-items: center; 
      background-color: black;
    color: #ffffff;} 

    @media(max-width :600px){

        #menuicon{
          padding: 10px;
        }

        main{
          text-align: center; 
     align-items: center; 
        }
        h1{font-size: 20px;}
         h2{font-size: 20px;}

        p{font-size: 12px;}
      
        }         
    
        @media  (min-width :601px){

           .ball{
          
            display: grid;
            height: 50vh;
            grid-template-columns:0.5fr 0.5;
            grid-template-rows:0.1fr 0.9fr;
            grid-template-areas: "h1 h1" "A01 A02"; 
          } 
          h1{grid-area: h1;
          }
          .A01{grid-area: A01;}
          .A02{grid-area: A02;}

          .mj{
          
            display: grid;
            height: 50vh;
            grid-template-columns:0.5fr 0.5;
            grid-template-rows:0.1fr 0.9fr;
            grid-template-areas: "h2 h2" "B01 B02"; 
          } 
          h2{grid-area: h2;
          }
          .B01{grid-area: B01;}
          .B02{grid-area: B02;}
          /* main .ball{
            grid-area: ball;
            
          }

          main .mj{
            grid-area: mj;
          } */
          h1{font-size: 30px;}
           h2{font-size: 30px;}
  
          p{font-size: 20px;}
        
          } 
          
          /* #menuicon{
            padding: 10px;
          } */  
          
            
            
        